<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <link rel="stylesheet" href="./css/app.css"> 
    <title>Document</title>
</head>
<body>

<img src={{pokemon.img}} alt="pokemonImage" class="pimageBig">
<h1>{{pokemon.name}}</h1>

<h3>
    Type: {{pokemon.type}} <br>
    Stats: {{pokemon.stats}} <br>




</h3>
<a href="/pokedex">Back to Pokedex</a>



    
</body>
</html>